* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.2;
}
.container {
  outline: 1px solid red;
  margin: 0 auto;
}
.col {
  float: left;
}
@media all and (min-width: 350px) {
  .container {
    width: 330px;
  }
  .col {
    width: 100%;
  }
}
@media all and (min-width: 768px) {
  .container {
    width: 748px;
  }
  .col {
    width: 50%;
  }
}
@media all and (min-width: 992px) {
  .container {
    width: 972px;
  }
  .col {
    width: 33.33%;
  }
}
@media all and (min-width: 1200px) {
  .container {
    width: 1080px;
  }
  .col {
    width: 25%;
  }
}
@media all and (min-width: 1500px) {
  .container {
    width: 1480px;
  }
  .col {
    width: 20%;
  }
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
  clear: both;
}
