* {
  box-sizing: border-box;
}
.nav1 {
  outline: 2px solid black;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding: 1px;
}

a {
  height: 50px;
  width: 140px;
  text-decoration: none;
  background-color: #f90;
  text-align: center;
  border-radius: 20px;
}
