* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: #eeeeee;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: #f90;
}
a:hover {
  color: #d3d3d2;
}
.main-header {
  background-color: #333333;
}
.container {
  margin: 0;
}
.row {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}
h2 {
  margin: 20px 40px 10px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
}
.row article h3 {
  margin: 20px 0;
}
section .row article {
  background-color: #fff;
  margin: 0 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(192, 41, 99, 0.5);
}
section .row article:active {
  top: 4px;
  right: 2px;
}
.roditelj {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
article {
  flex: 1 0 350px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
